<div class="container">
  <h3>Create a dose </h3>
  <div class="row">
    <br>
    <%=simple_form_for [@cocktail, @dose] do |f| %>
      <div class="form-inputs">
        <%= f.input :description %>
        <%= f.association :ingredient %>
      </div>
    <div class="form-actions">
      <%= f.submit %>
  </div>
  <% end %>
</div>


<h4><%#= link_to "Create new ingredient", new_cocktail_dose_ingredient_path(@dose), class: "btn btn-primary" %></h4>
