.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.menu-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
    height: 128px;
    object-fit: cover;
    object-position: center;
  }


}

.menu-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-image: url("https://images.pexels.com/photos/457881/pexels-photo-457881.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  a {
    display: inline-block;
    margin-left: 5px;
    color: white;
    font-size: 26px;
    font-family: 'Princess Sofia', cursive;
    font-weight: bold;
  }
}
