 .show_container {
  max-width: 700px;
  margin: auto;


  h2 {
    margin-top: 20px;
    color: black;
    padding-left: 20px;
    font-family: 'Princess Sofia', cursive;
    font-size: 46px;
  }

  .show_cocktail {
    margin: auto;
    max-width: 700px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    img {
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 3px;
    }
  }

  h3 {
    font-family: 'Princess Sofia';
    font-size: 26px;
  }

  .btn {
    margin-left: 10px;
  }
}
